@inherits LayoutComponentBase

@using CSTScheduling.Data.Services
@inject IJSRuntime jsRuntime
@inject CstScheduleDbService DbService

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code
{
    Department currentDep;

    protected override async Task OnInitializedAsync()
    {
        if(DbService.CurrentDepartment.ID == 0)
        {
            await DbService.Initialize();
        }


        currentDep = DbService.GetCurrentDepartment();
    }
}
