@inject CstScheduleDbService DbService

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">CST Scheduling</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<!--<div class="top-row pl-4 navbar navbar-dark container" style="justify-content:center; display:flex; flex-direction: row; overflow: hidden;padding:0;">
    <img src="./cst-icon.png" style="min-height:100%; min-width:100%; width:auto; height:auto;"/>-->
<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="fas fa-bookmark" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Programs
            </NavLink>
            <NavLink class="nav-link" href="/room" Match="NavLinkMatch.All">
                <span class="fas fa-map-marker-alt" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Rooms
            </NavLink>
            <NavLink class="nav-link" href="/instructor" Match="NavLinkMatch.All">
                <span class="fas fa-user-circle" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Instructors
            </NavLink>
            <NavLink class="nav-link" href="/semester" Match="NavLinkMatch.All">
                <span class="fas fa-th-list" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Semesters
            </NavLink>
            <NavLink class="nav-link" href="Course" Match="NavLinkMatch.All">
                <span class="fas fa-book" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Courses
            </NavLink>
            <NavLink class="nav-link" href="/ScheduleCreate" Match="NavLinkMatch.All">
                <span class="fas fa-calendar-alt" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Scheduling
            </NavLink>
            <NavLink class="nav-link" href="/Report" Match="NavLinkMatch.All">
                <span class="fas fa-calendar-alt" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Report
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;



    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
